@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

.logo{
    font-size: 3rem;
    color: #515352;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
    color: #b74b4b;
}

nav {
    display: flex;
    align-items: center;
    gap: 4rem;
}

nav a {
    font-size: 1.8rem;
    color: #515352;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
    padding: 0.5rem 0;
}

nav a:hover,
nav a.active {
    color: #b74b4b;
    border-bottom: 3px solid #b74b4b;
}
